Repository GetTerminus/terminus-oss, pull requests merged in 2020-07, with the labels that each got.

#144 chore: change base to release
  .github/workflows/pr-ci.yml
  .github/workflows/release-ci.yml
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  libs/design-tokens/README.md
  libs/ui/autocomplete/README.md
  libs/ui/autofocus/README.md
  libs/ui/button/README.md
  libs/ui/card/README.md
  libs/ui/chart/README.md
  libs/ui/checkbox/README.md
  libs/ui/chip/README.md
  libs/ui/cohort-date-range/README.md
  libs/ui/confirmation/README.md
  libs/ui/copy/README.md
  libs/ui/csv-entry/README.md
  libs/ui/date-range/README.md
  libs/ui/drawer/README.md
  libs/ui/expansion-panel/README.md
  libs/ui/file-upload/README.md
  libs/ui/form-field/README.md
  libs/ui/icon-button/README.md
  libs/ui/icon/README.md
  libs/ui/input/README.md
  libs/ui/input/src/lib/input/input.component.ts
  libs/ui/link/README.md
  libs/ui/loading-overlay/README.md
  libs/ui/login-form/README.md
  libs/ui/logo/README.md
  libs/ui/menu/README.md
  libs/ui/navigation/README.md
  libs/ui/option/README.md
  libs/ui/paginator/README.md
  libs/ui/pipes/README.md
  libs/ui/popover/README.md
  libs/ui/radio-group/README.md
  libs/ui/scrollbars/README.md
  libs/ui/search/README.md
  libs/ui/select/README.md
  libs/ui/selection-list/README.md
  libs/ui/sort/README.md
  libs/ui/sort/src/lib/ui-sort.module.ts
  libs/ui/spacing/README.md
  libs/ui/styles/README.md
  libs/ui/table/README.md
  libs/ui/tabs/README.md
  libs/ui/toggle/README.md
  libs/ui/tooltip/README.md
  libs/ui/utilities/README.md
  libs/ui/utilities/src/lib/error/ui-error.ts
  libs/ui/validation-messages/README.md
  libs/ui/validators/README.md
  release.config.js
  tools/ci/set-nx-base.sh
Labels: PR: awaiting review, Size: XL

#155 fix(LoadingOverlay): fix broken background color
  libs/ui/loading-overlay/src/lib/overlay/loading-overlay.component.scss
Labels: PR: awaiting review, Size: XS

#157 fix(Logo): use css custom properties
  libs/ui/logo/src/index.ts
  libs/ui/logo/src/lib/logo/logo.component.scss
  libs/ui/logo/src/lib/ui-logo.module.ts
Labels: PR: awaiting review, Size: XS

#158 feat(DesignTokens): add all existing typography styles
  libs/design-tokens/src/lib/base/typography/base.js
  libs/design-tokens/src/lib/base/typography/compound.js
  libs/ui/radio-group/src/lib/group/radio-group.component.scss
Labels: PR: awaiting review, Size: S

#159 feat(ShowcaseTokens): add demo for compound type styles
  angular.json
  apps/showcase-tokens/src/app/components/tokens/tokens.component.ts
  apps/showcase-tokens/src/app/features/typography/typography.component.html
  apps/showcase-tokens/src/app/features/typography/typography.component.spec.ts
  apps/showcase-tokens/src/app/features/typography/typography.component.ts
  apps/showcase-tokens/src/assets/.gitkeep
  apps/showcase-tokens/src/assets/chain.svg
  apps/showcase-tokens/src/assets/link.svg
  package.json
  yarn.lock
Labels: PR: awaiting review, Size: M

#161 chore: add changelog links to primary readme
  README.md
Labels: PR: awaiting review, Size: L

#162 fix(RadioGroup): move to custom css properties
  libs/ui/radio-group/src/lib/group/radio-group.component.scss
Labels: PR: awaiting review, Size: M

#168 fix(ESLintConfig): consider stories files as spec files
  libs/eslint-config-frontend/src/lib/rules.js
Labels: PR: awaiting review, Size: XS

#164 Update raw js size url
  libs/stylelint-config-frontend/README.md
Labels: PR: awaiting review, Size: XS

#165 Update raw js size url
  libs/eslint-config-frontend/README.md
Labels: PR: awaiting review, Size: XS

#170 make release depend on cancel step
  .github/workflows/release-ci.yml
Labels: PR: awaiting review, Size: XS

#169 make pr depend on cancel step
  .github/workflows/pr-ci.yml
Labels: PR: awaiting review, Size: XS

#171 fix(ESLintConfig): Fix incorrect rule
  libs/eslint-config-frontend/src/lib/rules.js
Labels: PR: awaiting review, Size: XS

#173 fix(ShowcaseUI): add ci info to header
  angular.json
  apps/showcase-ui/src/app/components/components.component.html
  tools/ci/release-inject-ci-info.sh
Labels: PR: awaiting review, Size: S

#177 chore: add build schematics to release after build all projects
  .github/workflows/release-ci.yml
Labels: PR: awaiting review, Size: XS

#186 chore(CI): attempt cleanup between each replace
  tools/ci/release-inject-ci-info.sh
Labels: PR: awaiting review, Size: XS

#192 fix(DesignTokens): shift new red colors down 1 key
  libs/design-tokens/src/lib/base/color/base.js
Labels: PR: awaiting review, Size: XS

#198 chore: add missing schematics
  libs/ui/spacing/package.json
  libs/ui/spacing/schematics/collection.json
  libs/ui/spacing/schematics/ng-add/index.ts
  libs/ui/spacing/tsconfig.schematics.json
  libs/ui/styles/package.json
  libs/ui/styles/schematics/collection.json
  libs/ui/styles/schematics/ng-add/index.ts
  libs/ui/styles/tsconfig.schematics.json
  libs/ui/utilities/package.json
  libs/ui/utilities/schematics/collection.json
  libs/ui/utilities/schematics/ng-add/index.ts
  libs/ui/utilities/tsconfig.schematics.json
  libs/ui/validators/package.json
  libs/ui/validators/schematics/collection.json
  libs/ui/validators/schematics/ng-add/index.ts
  libs/ui/validators/tsconfig.schematics.json
Labels: PR: awaiting review, Size: L

#200 chore: exclude package stories from code coverage
  jest.config.js
Labels: PR: awaiting review, Size: XS

#204 chore: Do not run chromatic if no changed projects or no storybook built
  .github/workflows/pr-ci.yml
  package.json
  tools/ci/run-chromatic-with-changed-projects.sh
Labels: PR: awaiting review, Size: XS

#205 chore: add migration notes for latest version
  libs/ui/button/CHANGELOG.md
  libs/ui/card/CHANGELOG.md
  libs/ui/checkbox/CHANGELOG.md
  libs/ui/chip/CHANGELOG.md
  libs/ui/copy/CHANGELOG.md
  libs/ui/csv-entry/CHANGELOG.md
  libs/ui/file-upload/CHANGELOG.md
  libs/ui/form-field/CHANGELOG.md
  libs/ui/icon-button/CHANGELOG.md
  libs/ui/icon-button/README.md
  libs/ui/icon-button/src/lib/icon-button/icon-button.component.ts
  libs/ui/icon/CHANGELOG.md
  libs/ui/input/CHANGELOG.md
  libs/ui/link/CHANGELOG.md
  libs/ui/menu/CHANGELOG.md
  libs/ui/navigation/CHANGELOG.md
  libs/ui/paginator/CHANGELOG.md
  libs/ui/popover/CHANGELOG.md
  libs/ui/radio-group/CHANGELOG.md
  libs/ui/search/CHANGELOG.md
  libs/ui/select/CHANGELOG.md
  libs/ui/selection-list/CHANGELOG.md
  libs/ui/table/CHANGELOG.md
  libs/ui/tabs/CHANGELOG.md
Labels: PR: awaiting review, Size: XL

#206 fix(CI): deploy demos to correct path
  .github/workflows/release-ci.yml
Labels: PR: awaiting review, Size: XS

#207 fix: fast follow updates for LPS
  apps/showcase-ui/src/app/components/button/button.component.ts
  apps/showcase-ui/src/app/components/icon-button/icon-button.component.ts
  apps/showcase-ui/src/app/components/icon/icon.component.ts
  apps/showcase-ui/src/app/components/input/input.component.html
  apps/showcase-ui/src/app/components/input/input.component.ts
  apps/showcase-ui/src/app/components/table/table.component.ts
  apps/showcase-ui/src/app/components/tabs/tabs.component.ts
  apps/vr/src/app/components/button/button.component.ts
  libs/ui/button/CHANGELOG.md
  libs/ui/button/src/lib/button/button.component.scss
  libs/ui/card/src/lib/card/card.component.ts
  libs/ui/checkbox/src/lib/checkbox/checkbox.component.html
  libs/ui/checkbox/src/lib/checkbox/checkbox.component.scss
  libs/ui/copy/src/lib/copy/copy.component.ts
  libs/ui/csv-entry/src/lib/csv-entry/csv-entry.component.ts
  libs/ui/file-upload/src/lib/file-upload/file-upload.component.ts
  libs/ui/form-field/src/lib/form-field/form-field.component.scss
  libs/ui/icon-button/CHANGELOG.md
  libs/ui/icon-button/README.md
  libs/ui/icon/README.md
  libs/ui/input/src/lib/input/input.component.scss
  libs/ui/menu/src/lib/menu/menu.component.ts
  libs/ui/navigation/src/lib/nav/navigation.component.ts
  libs/ui/paginator/src/lib/paginator/paginator.component.ts
  libs/ui/radio-group/src/lib/group/radio-group.component.ts
  libs/ui/search/src/lib/search/search.component.ts
  libs/ui/selection-list/src/lib/selection-list/selection-list.component.scss
  libs/ui/selection-list/src/lib/selection-list/selection-list.component.ts
  specs/ui-button/button.component.spec.ts
  specs/ui-icon/icon.component.spec.ts
Labels: PR: awaiting review, Size: M

#211 chore: minor improvement on pr ci script for running chromatic
  tools/ci/run-chromatic-with-changed-projects.sh
Labels: PR: awaiting review, Size: XS

#212 chore(TsTooltip): test helper functions should not rely on special test host content
  libs/ui/tooltip/testing/src/test-helpers.ts
Labels: PR: awaiting review, Size: S

#214 fix: more LPS tweaks
  apps/showcase-ui/src/app/components/link/link.component.html
  apps/showcase-ui/src/app/components/navigation/navigation.component.scss
  apps/showcase-ui/src/app/components/table/table.component.html
  apps/showcase-ui/src/app/components/table/table.component.ts
  libs/ui/button/src/lib/button/button.component.scss
  libs/ui/checkbox/src/lib/checkbox/checkbox.component.scss
  libs/ui/copy/src/lib/copy/copy.component.html
  libs/ui/copy/src/lib/copy/copy.component.scss
  libs/ui/csv-entry/src/lib/csv-entry/csv-entry.component.scss
  libs/ui/file-upload/src/lib/file-upload/file-upload.component.scss
  libs/ui/form-field/src/lib/form-field/form-field.component.scss
  libs/ui/link/src/lib/link/link.component.html
  libs/ui/link/src/lib/link/link.component.scss
  libs/ui/link/src/lib/link/link.component.ts
  libs/ui/menu/src/lib/menu/menu.component.scss
  libs/ui/menu/src/lib/menu/menu.component.ts
  libs/ui/navigation/src/lib/nav/navigation.component.scss
  libs/ui/selection-list/src/lib/selection-list-panel/selection-list-panel.component.scss
  libs/ui/sort/src/lib/sort-header/sort-header.component.html
  libs/ui/sort/src/lib/sort-header/sort-header.component.scss
  libs/ui/sort/src/lib/sort-header/sort-header.component.ts
  libs/ui/styles/src/lib/style-helpers/_drag-and-drop.scss
  libs/ui/table/src/lib/table/table.component.scss
  libs/ui/tabs/src/lib/header/tab-header.component.scss
  libs/ui/tooltip/src/lib/tooltip/tooltip.component.scss
  libs/ui/validation-messages/src/lib/messages/validation-messages.component.scss
  specs/ui-link/link.component.spec.ts
Labels: PR: awaiting review, Size: XL
