Repository GetTerminus/terminus-oss, pull requests merged in 2020-08, with the labels that each got.

#235 remove incorrect changes
  libs/eslint-config-frontend/CHANGELOG.md
Labels: PR: awaiting review, Size: XS

#220 feat(Popover): Support hover trigger
  angular.json
  apps/showcase-ui/src/app/components/popover/popover.component.html
  apps/showcase-ui/src/app/components/popover/popover.component.ts
  libs/ui/popover/.storybook/config.js
  libs/ui/popover/.storybook/main.js
  libs/ui/popover/.storybook/tsconfig.json
  libs/ui/popover/.storybook/webpack.config.js
  libs/ui/popover/README.md
  libs/ui/popover/src/lib/popover-options.ts
  libs/ui/popover/src/lib/popover/popover.component.stories.ts
  libs/ui/popover/src/lib/popover/popover.component.ts
  libs/ui/popover/src/lib/trigger/popover-trigger.directive.ts
  libs/ui/popover/tsconfig.lib.json
  specs/ui-popover/popover-trigger.directive.spec.ts
  specs/ui-popover/test-components.ts
Labels: PR: awaiting review, Size: L

#240 chore(CI): re-enable caching of deps for linting
  .github/workflows/pr-ci.yml
  .github/workflows/release-ci.yml
Labels: PR: awaiting review, Size: M

#242 feat(FEJwt): bump to v1
  libs/fe-jwt/package.json
Labels: PR: awaiting review, Size: XS

#244 chore: remove column from primary readme table
  README.md
Labels: PR: awaiting review, Size: M

#250 add more complete migration notes
  libs/ui/link/CHANGELOG.md
Labels: PR: awaiting review, Size: XS

#253 chore(CI): update method of tag update
  tools/ci/update-release-tag.sh
Labels: PR: awaiting review, Size: XS

#246 chore: upgrading popperjs to latest version
  jest.config.js
  libs/ui/popover/package.json
  libs/ui/popover/schematics/ng-add/index.ts
  libs/ui/popover/src/lib/popover/popover.component.scss
  libs/ui/popover/src/lib/popover/popover.component.ts
  libs/ui/popover/src/lib/trigger/popover-trigger.directive.ts
  package.json
  yarn.lock
Labels: PR: awaiting review, Size: S

#255 chore(CI): new tag update method
  tools/ci/update-release-tag.sh
Labels: PR: awaiting review, Size: S

#256 Csv bugs
  apps/showcase-ui/src/app/components/csv-entry/csv-entry.component.html
  libs/ui/csv-entry/src/lib/csv-entry/csv-entry.component.html
  libs/ui/csv-entry/src/lib/csv-entry/csv-entry.component.scss
Labels: PR: awaiting review, Size: S

#257 chore: update bug report starter
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: PR: awaiting review, Size: XS

#258 fix(Table): add support to enable whitespace wrapping
  apps/showcase-ui/src/app/components/table/table.component.html
  libs/ui/table/README.md
  libs/ui/table/src/lib/cell/cell.ts
  libs/ui/table/src/lib/column/column.ts
  libs/ui/table/src/lib/table/table.component.scss
  libs/ui/table/src/lib/table/table.component.ts
Labels: PR: awaiting review, Size: S

#259 Correct boolean
  apps/showcase-ui/src/app/components/table/table.component.html
Labels: PR: awaiting review, Size: XS

#263 fix(ValidationMessage): suppresses default validation message when custom message passed in
  libs/ui/form-field/src/lib/form-field/form-field.component.ts
Labels: PR: awaiting review, Size: XS

#269 chore(Option): add links to top level readme
  README.md
Labels: PR: awaiting review, Size: XS

#265 chore(CI): test timing for single run
  .github/workflows/pr-ci.yml
Labels: PR: awaiting review, Size: L

#278 fix(RadioGroup): fix radio button css order on borders.
  libs/ui/radio-group/src/lib/group/radio-group.component.scss
Labels: PR: awaiting review, Size: XS

#288 chore(Input): add initial stories
  angular.json
  libs/ui/input/.storybook/main.js
  libs/ui/input/.storybook/preview-head.html
  libs/ui/input/.storybook/tsconfig.json
  libs/ui/input/.storybook/webpack.config.js
  libs/ui/input/src/lib/input.stories.ts
  libs/ui/input/src/lib/input/input.component.ts
Labels: PR: awaiting review, Size: L

#289 chore(DesignTokens): add color and typography stories
  stories/ui/storybook/.storybook/main.js
  stories/ui/storybook/.storybook/preview.js
  stories/ui/storybook/src/lib/color/color.component.html
  stories/ui/storybook/src/lib/color/color.component.scss
  stories/ui/storybook/src/lib/color/color.component.spec.ts
  stories/ui/storybook/src/lib/color/color.component.ts
  stories/ui/storybook/src/lib/shared/grab/grab.component.html
  stories/ui/storybook/src/lib/shared/grab/grab.component.scss
  stories/ui/storybook/src/lib/shared/grab/grab.component.spec.ts
  stories/ui/storybook/src/lib/shared/grab/grab.component.ts
  stories/ui/storybook/src/lib/shared/pipes/color-format.pipe.spec.ts
  stories/ui/storybook/src/lib/shared/pipes/color-format.pipe.ts
  stories/ui/storybook/src/lib/shared/services/settings.service.spec.ts
  stories/ui/storybook/src/lib/shared/services/settings.service.ts
  stories/ui/storybook/src/lib/shared/services/tokens.service.spec.ts
  stories/ui/storybook/src/lib/shared/services/tokens.service.ts
  stories/ui/storybook/src/lib/shared/tokens/tokens.component.html
  stories/ui/storybook/src/lib/shared/tokens/tokens.component.scss
  stories/ui/storybook/src/lib/shared/tokens/tokens.component.spec.ts
  stories/ui/storybook/src/lib/shared/tokens/tokens.component.ts
  stories/ui/storybook/src/lib/shared/toolbar/toolbar.component.html
  stories/ui/storybook/src/lib/shared/toolbar/toolbar.component.scss
  stories/ui/storybook/src/lib/shared/toolbar/toolbar.component.spec.ts
  stories/ui/storybook/src/lib/shared/toolbar/toolbar.component.ts
  stories/ui/storybook/src/lib/shared/utilities/hexToRgb.ts
  stories/ui/storybook/src/lib/shared/utilities/index.ts
  stories/ui/storybook/src/lib/shared/utilities/jsonPathToString.ts
  stories/ui/storybook/src/lib/shared/utilities/jsonToHumanName.ts
  stories/ui/storybook/src/lib/shared/utilities/jsonToJsToken.ts
  stories/ui/storybook/src/lib/shared/utilities/jsonToSassToken.ts
  stories/ui/storybook/src/lib/shared/utilities/objectToArray.ts
  stories/ui/storybook/src/lib/shared/utilities/rgbToHsl.ts
  stories/ui/storybook/src/lib/tokens.stories.ts
  stories/ui/storybook/src/lib/typography/typography.component.html
  stories/ui/storybook/src/lib/typography/typography.component.scss
  stories/ui/storybook/src/lib/typography/typography.component.spec.ts
  stories/ui/storybook/src/lib/typography/typography.component.ts
  tools/cz-config.js
Labels: PR: awaiting review, Size: WTF

#283 feat(Paginator): Emit previous and next page button click events
  apps/showcase-ui/src/app/components/paginator/paginator.component.html
  apps/showcase-ui/src/app/components/paginator/paginator.component.ts
  libs/ui/paginator/README.md
  libs/ui/paginator/src/lib/paginator/paginator.component.html
  libs/ui/paginator/src/lib/paginator/paginator.component.ts
  specs/ui-paginator/paginator.component.spec.ts
  specs/ui-paginator/test-components.ts
Labels: PR: awaiting review, Size: M

#299 correct typo
  libs/ui/styles/CHANGELOG.md
Labels: PR: awaiting review, Size: XS
