Repository GetTerminus/terminus-oss, pull requests merged in 2020-09, with the labels that each got.

#304 fix(TsLoginForm): add TsDatePipe in list of providers
  libs/ui/login-form/src/lib/ui-login-form.module.ts
Labels: PR: awaiting review, Size: XS

#317 chore: update dev & contribution docs
  CONTRIBUTING.md
  DEVELOPMENT.md
Labels: PR: awaiting review, Size: S

#318 fix: force material & cdk ^9.2.4 for consumers
  libs/ui/autocomplete/package.json
  libs/ui/autocomplete/schematics/ng-add/index.ts
  libs/ui/button/package.json
  libs/ui/button/schematics/ng-add/index.ts
  libs/ui/card/package.json
  libs/ui/card/schematics/ng-add/index.ts
  libs/ui/checkbox/package.json
  libs/ui/checkbox/schematics/ng-add/index.ts
  libs/ui/chip/package.json
  libs/ui/chip/schematics/ng-add/index.ts
  libs/ui/cohort-date-range/schematics/ng-add/index.ts
  libs/ui/confirmation/package.json
  libs/ui/confirmation/schematics/ng-add/index.ts
  libs/ui/copy/package.json
  libs/ui/copy/schematics/ng-add/index.ts
  libs/ui/csv-entry/schematics/ng-add/index.ts
  libs/ui/date-range/schematics/ng-add/index.ts
  libs/ui/drawer/package.json
  libs/ui/expansion-panel/package.json
  libs/ui/file-upload/package.json
  libs/ui/icon-button/package.json
  libs/ui/icon/package.json
  libs/ui/icon/schematics/ng-add/index.ts
  libs/ui/input/package.json
  libs/ui/input/schematics/ng-add/index.ts
  libs/ui/loading-overlay/package.json
  libs/ui/menu/package.json
  libs/ui/menu/schematics/ng-add/index.ts
  libs/ui/navigation/package.json
  libs/ui/navigation/schematics/ng-add/index.ts
  libs/ui/option/package.json
  libs/ui/paginator/package.json
  libs/ui/paginator/schematics/ng-add/index.ts
  libs/ui/popover/package.json
  libs/ui/radio-group/package.json
  libs/ui/radio-group/schematics/ng-add/index.ts
  libs/ui/select/package.json
  libs/ui/select/schematics/ng-add/index.ts
  libs/ui/selection-list/package.json
  libs/ui/selection-list/schematics/ng-add/index.ts
  libs/ui/sort/package.json
  libs/ui/styles/package.json
  libs/ui/table/package.json
  libs/ui/table/schematics/ng-add/index.ts
  libs/ui/tabs/package.json
  libs/ui/tabs/schematics/ng-add/index.ts
  libs/ui/toggle/package.json
  libs/ui/toggle/schematics/ng-add/index.ts
  libs/ui/tooltip/package.json
  libs/ui/tooltip/schematics/ng-add/index.ts
  libs/ui/validation-messages/schematics/ng-add/index.ts
Labels: PR: awaiting review, Size: M

#322 fix(SelectionList): icon updates when option list gets updated
  libs/ui/selection-list/src/lib/selection-list/selection-list.component.html
  libs/ui/selection-list/src/lib/selection-list/selection-list.component.ts
  specs/ui-selection-list/selection-list.component.spec.ts
  specs/ui-selection-list/test-components.ts
Labels: PR: awaiting review, Size: S

#329 fix(Validators): remove broken object comparison
  libs/ui/validators/src/lib/validators/inCollection/inCollection.ts
  specs/ui-validators/inCollection.spec.ts
Labels: PR: awaiting review, Size: S

#330 chore(Validators): add initial stories
  angular.json
  libs/ui/validation-messages/src/lib/messages/validation-messages.component.ts
  libs/ui/validators/.storybook/main.js
  libs/ui/validators/.storybook/preview-head.html
  libs/ui/validators/.storybook/tsconfig.json
  libs/ui/validators/.storybook/webpack.config.js
  libs/ui/validators/src/lib/stories/validation-date.stories.ts
  libs/ui/validators/src/lib/stories/validation-number.stories.ts
  libs/ui/validators/src/lib/stories/validation-string.stories.ts
  libs/ui/validators/src/lib/stories/validation-universal.stories.ts
Labels: PR: awaiting review, Size: XL

#335 chore(Card): update docs iframe size
  libs/ui/card/src/lib/card.stories.ts
Labels: PR: awaiting review, Size: XS

#337 chore: clarify breaking changes or inCollection
  libs/ui/validators/CHANGELOG.md
Labels: PR: awaiting review, Size: XS

#341 chore(Storybook): add dummy application for storybook compile
  angular.json
  apps/storybook-dummy/browserslist
  apps/storybook-dummy/jest.config.js
  apps/storybook-dummy/src/app/app.component.ts
  apps/storybook-dummy/src/app/app.module.ts
  apps/storybook-dummy/src/assets/.gitkeep
  apps/storybook-dummy/src/environments/environment.prod.ts
  apps/storybook-dummy/src/environments/environment.ts
  apps/storybook-dummy/src/favicon.ico
  apps/storybook-dummy/src/index.html
  apps/storybook-dummy/src/main.ts
  apps/storybook-dummy/src/polyfills.ts
  apps/storybook-dummy/src/styles.css
  apps/storybook-dummy/src/test-setup.ts
  apps/storybook-dummy/tsconfig.app.json
  apps/storybook-dummy/tsconfig.json
  apps/storybook-dummy/tsconfig.spec.json
  apps/storybook-dummy/tslint.json
  nx.json
  tslint.json
Labels: PR: awaiting review, Size: L

#346 fix(Button): smooth out collapse animation
  libs/ui/button/src/lib/button.stories.ts
  libs/ui/button/src/lib/button/button.component.scss
Labels: PR: awaiting review, Size: S

#352 chore: update primary docs
  DEVELOPMENT.md
  README.md
Labels: PR: awaiting review, Size: S
