Repository GetTerminus/terminus-oss, pull requests merged in 2021-04, with the labels that each got.

#555 feat(sidenav): pass options and use new ui as input
  libs/ui/sidenav/src/lib/sidenav/sidenav.component.html
  libs/ui/sidenav/src/lib/sidenav/sidenav.component.ts
  specs/ui-sidenav/sidenav.component.spec.ts
  stories/ui-sidenav/sidenav.stories.ts
Labels: PR: awaiting review, Size: L

#557 fix(TsSidenavTriggerComponent)
  libs/ui/sidenav/src/lib/sidenav-trigger/sidenav-trigger.component.html
  specs/ui-sidenav/sidenav.component.spec.ts
Labels: PR: awaiting review, Size: XS

#558 fix(sidenav): Address product feedback
  libs/ui/sidenav/src/lib/sidenav/sidenav.component.html
  specs/ui-sidenav/sidenav.component.spec.ts
Labels: PR: awaiting review

#559 fix(TsSidenavTriggerComponent) don't add trigger-open class
  libs/ui/sidenav/src/lib/sidenav-trigger/sidenav-trigger.component.ts
  specs/ui-sidenav/sidenav.component.spec.ts
Labels: PR: awaiting review, Size: XS

#563 Feature add placeholder
  libs/ui/selection-list/src/lib/selection-list/selection-list.component.html
  libs/ui/selection-list/src/lib/selection-list/selection-list.component.ts
  stories/ui-selection-list/selection-list.stories.ts
Labels: PR: awaiting review, Size: S
